html{background-color: black;
}
 
h1{color: #ffffff;
}
p{color: #ffffff;

}

    div{

img{    height: vpx;
        width: 100px;
        padding-left: 30px;
        padding-top: 30px;
}

p{
    height: 50px;
    width: 50px;
    padding-left: 60px;
color: #ffffff;
}
}
